<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.souja.lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="me.kareluo.imaging.IMGEditActivity"
            android:theme="@style/ImageGalleryTheme" />

        <activity
            android:name="me.kareluo.imaging.IMGGalleryActivity"
            android:theme="@style/ImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>
